$scratcherWidth = 375px
$scratcherHeight = 265px

.nui-scratcher
  position: relative
  width: $scratcherWidth
  height: $scratcherHeight
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

.nui-scratcher-canvas-layer
  width: 100%
  height: 100%
  position: absolute

.nui-scratcher-image-layer
  width: 100%
  height: 100%
  position: absolute
  pointer-events: none

.nui-scratcher-image-row
  width: 100%
  height: 100%
  overflow: hidden
  position: relative

  > img
    display: block
    width: 100%
    height: 100%
    margin: 0 auto
    transition: opacity 500ms linear
    opacity: 0
    position: absolute

    &.nui-scratcher-preview-image
      &.loaded
        opacity: 0.35

    &.nui-scratcher-default-image
      &.loaded
        opacity: 1
